.Main-page {
    background-color: rgba(0,0,0,.8);
    width: 100%;
    height: 115rem;
    font-family: "Proxima-Soft", sans-serif;
    font-size: 16px;
}

.Container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2rem;
    margin-top: 5rem;
    opacity: 1 * 6;

    .Left {
        flex-basis: 100%;
        padding: .5rem;
        text-align: left;
    }

    .Right {
        flex-basis: 100%;
        padding: .5rem;
        display: flex;
        flex-direction: column;

        img {
            width: 50%;
        }

        .Top-right {
            margin-bottom: 2rem;
            background-color: rgba(0,0,0,.4);
            padding: 1rem 0;
            width: 70%;
            align-self: center;
            border-radius: 3%;
            color: hsl(0, 0%, 90%);

            .British-gas {
                width: 40%;
            }
        }

        .Bottom-right {
            background-color: rgba(0,0,0,.4);
            padding: 1rem 0rem 2rem 0;
            width: 100%;
            height: 40rem;
            align-self: center;
            flex-wrap: wrap;

            h2 {
                margin-bottom: 0rem;
            }
        }
    }

    h3 {
        font-size: calc(5px + 2vmin);
        margin-bottom: 1rem;
    }

    h1 {
        font-size: calc(20px + 2vmin);
        margin-bottom: 1rem;
    }

    p {
        font-size: 1.2rem;
    }

    .Table-container {
        display: flex;
        align-items: flex-end;
        width: 100%;
        padding: 1rem;
        font-weight: 700;
        justify-content: center;

        .Left-table {
            width: 100%;
            padding-right: .5rem;

            .Left-table-item {
                width: 100%;
                background-color: #6CADDF;
                color: black;
                padding: .4rem .1rem 0.05rem .9rem;
                margin: .2rem;
            }
        }
    
        .Right-table {
            width: 100%;

            .Right-table-item {
                width: 100%;
                background-color: #00285E;
                padding: .3rem .1rem 0.05rem .9rem;
                margin: .2rem;

            }
        }
    }
}

@media only screen and (min-width: 40rem) {
    .Container {
        flex-direction: row;
        padding: 3rem;
    }

    .Main-page {
        background-color: rgba(0,0,0,.8);
        width: 100%;
        height: 60rem;
        font-family: "Proxima-Soft", sans-serif;
        font-size: 16px;
    }
}

@media only screen and (max-width: 40rem) {
    #Fb {
        height: 30rem;
    }
}
