.Nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
    padding: 2rem;
    width: 100%;
    height: 5rem;
    background-color: #19202b;
    color: antiquewhite;
    font-family: "Proxima-Soft", sans-serif;
    border-bottom: .5px solid #6CADDF;
    

    a {
        cursor: pointer;
        color: #6CADDF;
    }

    #Nav-text {
        font-size: calc(10px + 2vmin);
        align-items: flex-start;
        margin: 0;
    }

    #Nav-text-right {
        font-size: calc(10px + 2vmin);
        align-items: flex-start;
        margin: 0 1rem;
    }
}

.Nav-left {
    display: flex;
    align-items: center;

    img {
        width: 10%;
    }
}

.Nav-right {
    display: flex;
    align-items: center;

    .Top-down {
        display: flex;
        flex-direction: column;
        margin-right: 1rem;

        #Nav-text-right {
            padding-bottom: .5rem;
        }

        p {
            margin-bottom: -.2rem;
            text-align: right;
            width: 90%;
        }
    }
}

.Nav.active {
    height: 80rem;
    opacity: .9;

    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
    padding: 2rem;
    width: 100%;
    background-color: #19202b;
    color: antiquewhite;
    font-family: "Proxima-Soft", sans-serif;

    .Nav-left {
        display: none;
    }

    .Top-down, #Phone {
        display: none;
    }

    #Menu {
        margin-top: -75rem;
    }
}

.List {
    display: none;
}

.List.active {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 40rem;

    h2 {
        width: 100%;
        padding-left: 4rem;
        padding-bottom: 1.5rem;
    }
}

@media only screen and (max-width: 40rem) {
    .Nav-right {
        .Top-down, #Phone {
            display: none;
        }
    }

    img {
        min-width: 15%;
    }
}
