.Nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1000;
    padding: 2rem;
    width: 100%;
    height: 5vw;
    background-color: rgb(25, 32, 43, 1);
    color: antiquewhite;
    font-family: "Proxima-Soft", sans-serif;
    border-bottom: .5px solid #6CADDF;
    transition: height 0.7s;

    a {
        cursor: pointer;
        color: #6CADDF;
    }

    #Nav-text {
        font-size: calc(10px + 2vmin);
        align-items: flex-start;
        margin: 0;
    }

    #Nav-text-right {
        font-size: calc(10px + 2vmin);
        align-items: flex-start;
        margin: 0 1rem;
    }
}

.Nav-left {
    display: flex;
    align-items: center;

    img {
        width: 10%;
    }
}

.Nav-right {
    display: flex;
    align-items: center;

    .Top-down {
        display: flex;
        flex-direction: column;
        margin-right: 1rem;

        #Nav-text-right {
            padding-bottom: .5rem;
        }

        p {
            margin-bottom: -.2rem;
            text-align: right;
            width: 90%;
        }
    }
}

.Nav.active {
    height: 4vw;
    background-color: rgb(25, 32, 43, .9);

    .List.active {
        margin-top: 54.1rem;
    }
}

.List {
    display: none;
  }
  
  .List.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    left: 0;
    background-color: rgba(0,0,0,.8);
    position: fixed;
    height: 50rem;
    margin-top: 55rem;
    align-items: center;
    z-index: 1;
  
    .List-child {
      flex-basis: 20%;
      width: 100%;
      letter-spacing: 5px;
  
      a {
        text-decoration: none;
      }
    }
  
    .List-child h2:hover {
      font-weight: 600;
    }
  
    h2 {
        width: 100%;
        color: #fff;
        text-decoration: none;
    }
  }
  

@media only screen and (max-width: 40rem) {
    .Nav-right {
        .Top-down, #Phone {
            display: none;
        }
    }

    img {
        min-width: 15%;
    }
}
